.hero {
    background-color: rgba(78, 185, 19, 1);
    background-image: url('../../../public/bg01.jpg');
    color: #fff;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    h1 {
        font-size: 32px;
        line-height: 46px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 32px;
    }
    .eventInfo {
        span {
            display: block;
            font-size: 24px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}