.hero {
    background-image: url('https://www.codebeambr.com/bg01.jpg');
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    height: auto;
    padding-top: 150px;
    padding-bottom: 90px;
    @media only screen and (max-width: 991px) {
        display: block;
    }
    h1 {
        font-size: 32px;
        line-height: 46px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
        margin-bottom: 32px;
    }
    .eventInfo {
        span {
            display: block;
            font-size: 24px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}