.menu {
    transition: .3s ease-in-out all;
    background-color: #000000;
    padding: 0 8%;
    width: 100%;
    z-index: 9;
    line-height: 56px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    position: fixed;
    a {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        span {
            display: inline-block;
            margin-left: 8px;
        }
        &:hover {
            color: #fff;
            text-decoration: none;
            opacity: .7;
        }
    }
    & .mainNav {
        display: flex;
        align-items: stretch;

        & .neutralLink {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.125rem;
            margin-right: 16px;
            padding: 0 8px;
            color: #ffffff;
            border-bottom: 4px solid transparent;
        }

        & .current {
            color: #ffffff;
            border-bottom: 4px solid #ffffff;
        }
    }

    &.scrolled {
        top: 0;
        position: fixed;
        background-color: rgba(78, 185, 19, 1);
        box-shadow: 0px 14px 8px rgba(0, 0, 0, 0.03);
    }


}


