.footer {
  background-color: #000000;
  color: #fff;
  padding: 56px;
  font-size: 24px;
  position: relative;
  h3 {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  a {
    display: block;
    &:hover {
      color: #ffffff; 
      opacity: .7;
      text-decoration: none;
    }
    imgage {
      max-width: 140px;
    }
  }

  div.contato {
    border-top: 1px solid white;
    padding: 60px 0;
    margin-top: 30px;
  }
}
div.contato {
  border-top: 1px solid white;
  padding: 60px 0;
  margin-top: 30px;

}

.brFlag {
  font-size: 56px;
  position: absolute;
  bottom: 32px;
  right: 32px;
}
.mainLink {
  word-wrap: break-word;
  font-size: 1.5rem;
}
.contactMail {
  margin-bottom: 32px;
}
.brandHolder {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  text-align: center;
  a {
    width: 100%;
    text-align: center;
    margin: 16px auto;
    img {
      max-width: 150px;
    }
  }
}

.socialNav {
  display: flex;
  margin-bottom: 32px;

  & .socialLink {
      color: rgba(78, 185, 19, 1);
      margin-right: 16px;
      padding: 8px;
  
      &:hover {
          color: rgba(255,255,255,1);
          text-decoration: none;
      }
  }
  & .alt {
      margin-right: 16px;
      padding: 8px;
      color: #ff004e;
  }
}
