.sponsors {
    padding: 140px 0;
    background: linear-gradient(to right, #4eb913, #15e6ff);
    color: #ffffff;
    h3 {
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    h4 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 300;
    }
    p {
        font-size: 20px;
    }
    a {
        font-size: 24px;
        &:hover {
            color: #fff;
            opacity: .7;
            text-decoration: none;
        }
    }
}